<h5>Edit topic</h5>

<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %>
	<div class="form-group">
		<%= text_input f, :title, placeholder: "Title", class: "form-control" %>
		<%= error_tag f, :title %>
	</div>

	<%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
