<h5>Topics</h5>

<ul class="collection">
	<%= for topic <- @topics do %>
		<li class="collection-item">
			<%= link topic.title, to: topic_path(@conn, :show, topic) %>

			<%= if @conn.assigns.user.id == topic.user_id do %>
				<div class="right">
					<%= link "Edit", to: topic_path(@conn, :edit, topic) %>
					<%= link "Delete", to: topic_path(@conn, :delete, topic), method: :delete %>
				</div>
			<%end%>
		</li>
	<% end %>
</ul>

<div class="fixed-action-btn">
	<%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
		<i class="material-icons">add</i>
	<% end %>
</div>

